.card {

    background-color: hsla(0, 0%, 100%, 0.025);

    padding: .5rem;
    
    border-radius: .5rem;

    transition: 0.2s;
}

.card:hover {
    cursor: pointer;

    background-color: hsla(0, 0%, 100%, 0.055);
}

.card_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 1rem;
}

.card_image {
    display: grid;

    justify-items: center;
}

.card_description {
    display: grid;

    justify-items: center;

    color: hsla(216, 77%, 75%, 0.856); ;
}

